.stomatologiya-hero {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 500px;
    border-radius: var(--border-radius-8);
    overflow: hidden;

    .image-block {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            max-width: 100vw;
        }
    }

    .content-part {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--space-3);
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 2;
        color: white;
        padding: 40px;

        .cards-tooth {
            display: flex;
            flex-direction: row;
            gap: var(--space-3);
            flex-wrap: wrap;
            justify-content: space-between;


        }


    }

    @media screen and (max-width: 576px) {
        .content-part {
            padding: 10px;

            .cards-tooth {
                max-width: calc(100vw - (var(--space-6) * 2));
                flex-direction: column;

            }
        }


    }
}


.uslugi {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);


    .usluga {

        display: flex;
        flex-direction: row;
        gap: var(--space-1);
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }


        .content-part {
            display: flex;
            flex-direction: column;
            gap: var(--space-4);
            flex: 1 1 240px;
            justify-content: center;

            @media screen and (max-width: 768px) {
                order: 2;
            }


        }

        .image-block {
            display: flex;
            justify-content: center;
            flex: 2;
            /* flex-basis: 240px; */

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media screen and (max-width: 768px) {
                /* flex-basis: unset; */

            }

        }


    }
}
