.excursion-paid-services {

    /* .flex flex-row flex-wrap gap-16 */

    .service-item {
        display: grid;
        grid-template-areas:
            "image title_price"
            "image c";

        gap: var(--space-2);

        @media screen and (max-width: 992px) {
            grid-template-areas:

            "title_price title_price"
            "image c";

        }

        @media screen and (max-width: 576px) {
            grid-template-areas:

            "title_price"
            "image"
            "c";

        }

        .image {
            grid-area: image;

        }

        .title-price-block {
            grid-area: title_price;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .title {
                grid-area: title;
            }

            .price, .category {
                grid-area: price;
            }
        }


        .content {
            grid-area: c;
        }
    }
}