.images-block {
    .images-grid {
        display: flex;
        flex-direction: row;
        gap: var(--space-2);
        flex-wrap: wrap;

        .main-image, .grid {
            max-height: 350px;
        }

        .main-image {
            width: 100%;
            max-width: 100%;
            flex: 1 1 480px;
            border-radius: var(--space-2);
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }

            @media screen and (max-width: 1224px) {
                .main-image {
                    flex: 1 1 380px;
                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(190px, 1fr));
            grid-auto-rows: minmax(140px, 1fr);
            gap: var(--space-2);
            flex: 1 390px;
            min-width: 0;
            border-radius: var(--space-2);
            overflow: hidden;

            @media screen and (max-width: 768px) {
                overflow-x: auto;
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & .row-span-2 img {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &.compact {
        .main-image {
            flex: 380px;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }

}

.description-block {

    .block-name {
        margin-block: var(--space-6);
    }

    .more {
        margin-top: var(--space-2);
    }

}

.images-line {
    display: inline-flex;
    flex-direction: row;
    max-width: 100%;
    gap: var(--space-2);
    overflow-x: hidden;
    border-radius: var(--border-radius-8);
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        overflow-x: auto;
    }

    a {
        display: block;
        min-width: 168px;
        max-height: 185px;
        flex: 1 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }


}



