@use 'variables' as *;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: $font-primary;
  color: $gray-900;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 0;
  height: 1px;
  background: $gray-200;
  margin: $space-6 0;
}

.container {
  width: min(1200px, 100% - 32px);
  margin-inline: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: $border-radius-xl;
  border: 1px solid transparent;
  font-weight: $fw-semibold;
  font-family: $font-primary;
}

.button--outline-teal {
  color: $teal-700;
  border-color: #0F9C9A;
  background: transparent;
}

.button--filled-orange {
  color: $white;
  background: $orange-500;
}

.button--filled-orange:hover {
  background: $orange-600;
}


