.index-page-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 688px;

    .title {
        font-size: var(--h2-size);
        line-height: var(--h2-line);
        font-weight: var(--fw-semibold);
    }

    .description {

    }


    .input-search-block {
        position: relative;

        input {
            height: 40px;
            border: 1px solid var(--black-border);
            border-radius: var(--border-radius-8);
            padding-block: var(--space-2);
            padding-inline: var(--space-3);
            width: 100%;
        }

        .find-icon {
            position: absolute;
            right: 12px;
            top: 12px;
        }

    }
}