.card {

    background-color: var(--white);
    padding: 16px;
    border-radius: 12px;
    width: 100%;

    &.no-padding {
        padding: unset;
    }


    &.overflow-y {

        overflow-y: scroll;
        max-height: calc(100vh - var(--header-indent));

        &.auto {

            overflow-y: auto;
        }
    }

    &.hidden {
        display: none;
    }
}


