.consultation {
    display: flex;
    flex-direction: row;
    gap: var(--space-5);
    align-items: flex-end;


    .content-part {
        display: flex;
        flex-direction: column;
        gap: var(--space-5);
        padding: 40px;
    }

    .image-block {

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    @media screen and (max-width: 576px) {
        flex-direction: column;

        .content-part {
            padding: 10px;
        }
    }

}