.flex {
    display: flex;

    &.flex-row {
        flex-direction: row;
    }

    &.flex-col {
        flex-direction: column;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }

    &.flex-nowrap {
        flex-wrap: nowrap;
    }

    .flex-1 {
        flex: 1;
    }

    .flex-0 {
        flex: 0;
    }

    .justify-start {
        justify-content: flex-start;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-between {
        justify-content: space-between;
    }

    .items-start {
        align-items: flex-start;
    }
    .items-end {
        align-items: flex-end;
    }
    .items-center {
        align-items: center;
    }

    .gap-4 {
        gap: var(--space-1)
    }

    .gap-8 {
        gap: var(--space-2)
    }

    .gap-12 {
        gap: var(--space-3)
    }

    .gap-16 {
        gap: var(--space-4)
    }

    .gap-20 {
        gap: var(--space-5)
    }

    .gap-24 {
        gap: var(--space-6)
    }

    .gap-32 {
        gap: var(--space-8)
    }

    .gap-40 {
        gap: var(--space-10)
    }
}