.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--black-fade);

    &.show {
        display: flex;
    }

    .modal-content {
        position: relative;
        max-width: min(500px, 80%);
        padding: var(--space-6) var(--space-5);

        .title {
            margin-bottom: var(--space-4);
        }

        .close {
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: var(--space-3);

            .f-group {
                display: flex;
                flex-direction: column;
                gap: var(--space-1);

                label {
                    color: var(--black-subheading);
                    font-weight: var(--notes-weight);
                    line-height: var(--notes-line);
                    font-size: var(--notes-size);

                    span {
                        font-weight: var(--description-weight);
                        line-height: var(--description-line);
                        font-size: var(--description-size);
                        color: var(--black-primary);
                    }
                }

                input {
                    border-color: var(--black-border);
                    border-radius: var(--space-2);
                    padding: var(--space-2) var(--space-3);
                }

                &.buttons {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    margin-top: var(--space-5);
                    gap: var(--space-2);

                    @media screen and (max-width: 576px) {
                        .btn {
                            width: 100%;
                        }
                    }
                }

            }
        }

    }

    &::before {
        body {
            background-color: dimgray;
        }
    }
}