/* space 1 = 4 px */

/* margin */
.mg-2 {
    margin: var(--space-2);
}

.mg-4 {
    margin: var(--space-4);
}

.mgb-2 {
    margin-block: var(--space-2);
}

.mgb-4 {
    margin-block: var(--space-4);
}


.mt-2 {
    margin-top: var(--space-2);
}

.mb-2 {
    margin-bottom: var(--space-2);
}

.mt-3 {
    margin-top: var(--space-3);
}

.mb-3 {
    margin-bottom: var(--space-3);
}

.mt-4 {
    margin-top: var(--space-4);
}

.mb-4 {
    margin-bottom: var(--space-4);
}

.mt-5 {
    margin-top: var(--space-5);
}

.mb-5 {
    margin-bottom: var(--space-5);
}

/* padding */

.pd-2 {
    padding: var(--space-2);
}

.pd-4 {
    padding: var(--space-4);
}

.pdb-2 {
    padding-block: var(--space-2);
}

.pdb-4 {
    padding-block: var(--space-4);
}


.pt-2 {
    padding-top: var(--space-2);
}

.pb-2 {
    padding-bottom: var(--space-2);
}

.pt-3 {
    padding-top: var(--space-3);
}

.pb-3 {
    padding-bottom: var(--space-3);
}

.pt-4 {
    padding-top: var(--space-4);
}

.pb-4 {
    padding-bottom: var(--space-4);
}

.pt-5 {
    padding-top: var(--space-5);
}

.pb-5 {
    padding-bottom: var(--space-5);
}


.d-none-tablet {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.d-none-mobile {
    @media screen and (max-width: 576px) {
        display: none;
    }
}

