.includes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space-2);


    .includes-item {
        flex: 1 1 calc(50% - var(--space-2));
        max-width: calc(50% - var(--space-2));
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        background-color: var(--black-ultra-light);
        border: 1px solid var(--black-border);

        &.narrow {
            flex: 1 1 calc(33% - var(--space-2));
            max-width: calc(33% - var(--space-2));

            .icon {
                img {
                    object-fit: cover;
                    width: 100%;
                    max-height: 150px;
                }
            }
        }

        @media screen and (max-width: 992px) {

            &.narrow {

                max-width: unset;
            }
        }

        @media screen and (max-width: 576px) {
            flex: 100%;
            max-width: unset;

            &.narrow {
                flex: 1 1 calc(100% - var(--space-2));
                max-width: unset;
            }
        }


        .info {
            display: flex;
            flex-direction: column;
            gap: var(--space-2);

        }

        button {
            justify-self: flex-end;
        }
    }

    &.col {
        flex-direction: column;

        &.w-100 {

            width: 100%;

            .includes-item {
                border: unset;
                background-color: unset;
            }
        }
    }
}


.tour-section-contacts {

}

.tour-why-me-section {

    /* .flex flex-row flex-wrap gap-16 */

    .service-item {
        display: grid;
        grid-template-areas:
            "image title_price"
            "image c";

        gap: var(--space-2);

        @media screen and (max-width: 992px) {
            grid-template-areas:

            "title_price title_price"
            "image c";

        }

        @media screen and (max-width: 576px) {
            grid-template-areas:

            "title_price"
            "image"
            "c";

        }

        .image {
            grid-area: image;

        }

        .title-price-block {
            grid-area: title_price;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .title {
                grid-area: title;
            }

            .price {
                grid-area: price;
            }
        }


        .content {
            grid-area: c;
        }
    }
}