.pill {
    padding: var(--space-1) var(--space-3);
    text-transform: uppercase;
    border-radius: var(--space-4);
    border: 1px solid;
    font-size: var(--tag-size);
    font-weight: var(--tag-weight);
    color: var(--black-placeholder);
    width: fit-content;

    &.gold {
        background-color: var(--pill-gold-bg);
        border-color: var(--pill-gold-stroke);
    }

    &.l-blue {
        border-color: var(--moderate-primary);
        background-color: var(--moderate-ultra-light);
    }

    &.blue {
        border-color: #549BFF;
        background-color: #EEF5FF;
    }

    &.gray {
        background-color: #F1F1F1;
        border-color: #ABABAB;
    }

    &.no-border {
        border: unset;
    }
}