.wide-card {
    background-color: var(--white);
    border-radius: var(--border-radius-lg);
    position: relative;
    /* border: 1px solid var(--black-border); */
    transition: .2s;
    overflow: hidden;
    height: auto;

    &:hover {
        box-shadow: var(--shadow-lg);
    }

    .wide-card-image-wrapper {
        position: relative;
        object-fit: cover;
        height: auto;
        flex-shrink: 0;
        flex-basis: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        @media screen and (max-width: 768px) {
            width: 100%;
            min-width: 240px;
            flex-basis: auto;
        }


    }

    .wide-card-text-wrapper {
        gap: var(--space-4);
        flex: 1 1 260px;
        padding: var(--space-4);


        .content-side {
            flex: 1;
            gap: var(--space-4);


            .title-block {
                gap: var(--space-3);

                .category {
                    align-self: flex-start;
                    border-radius: var(--border-radius-4);
                    color: var(--black-placeholder);
                    text-transform: uppercase;
                    font-size: var(--tag-size);
                    font-weight: var(--tag-weight);
                    line-height: var(--tag-line);
                    padding-inline: var(--space-1);
                }


            }

            .services {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--space-1) var(--space-2);
            }


        }

        .button-side {
            justify-content: space-between;
            flex: 0;
            gap: var(--space-3);

            .buttons {
                display: flex;
                flex-direction: column;
                gap: var(--space-3);
            }


            .hotel-class {
                text-align: end;

                .pill {
                    text-transform: uppercase;
                    justify-self: flex-end;
                }

                .optional-text {
                    img.icon {
                        display: inline-block;
                    }
                }
            }

            @media screen and (max-width: 576px) {
                flex: 1 1 100%;

            }

        }
    }


}